*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
nav {
  background-color: rgb(126, 124, 124);
}
.navbar__container {
  background-color: rgb(244, 131, 131);
  display: flex;

  justify-content: flex-end;
}

.title__container {
  background-color: rgb(85, 85, 219);
  
  font-size: 40px;
  flex-grow: 1;
}

.navbar__menu {
  background-color: rgb(106, 230, 127);
  display: flex;
  align-self: center;
}

